@tailwind base;
@tailwind components;
@tailwind utilities;

/* Smooth scrolling for anchor links and buttons */
html {
  scroll-behavior: smooth !important;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: 'Inter', sans-serif; /* Professional font family */
  background-color: #ffffff;
  color: #333333;
}

/* Optional: Scrollbar ko thora professional look denay k liye */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #001f3f; /* Navbar wala Navy Blue color */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #d68c04; /* Gold color on hover */
}